body {
    margin: 0;
    padding: 0;
}

#mapid {
    width: 800px;
    height: 800px;

}

.number {
    position: relative;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    background-color: blue;
    width: 20px;
    height: 20px;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    padding-bottom: 5px;
    padding-left: 5px;
}
.finish-number {
    position: relative;
    bottom: 60px;
    right: 10px;
    color: white;
    font-size: 20px;
    background-color: blue;
    width: 20px;
    height: 20px;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    padding-bottom: 5px;
    padding-left: 5px;
}
.start-icon{
    position: relative;
    bottom: 50px;
    right: 15px;
}
.leaflet-div-icon{
    border-radius: 50%;
}
