.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.root{
    -icons-color: black;
}
.left-panel .button{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: transparent;
    -fx-padding: 10 0 0 0;
}
.layers-tree .button, .layers-tree .toggle-button{
    -fx-pref-width: 5px;
    -fx-pref-height: 5px;
    -fx-background-color: transparent;
}
.left-panel .button:hover{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;

    -fx-padding: 10 0 0 0;
}
.tree-view, .stack-pane, .tree-cell {
     -fx-border-width: 0px;
     -fx-border-color: transparent;
     -fx-border-style: none;
     -fx-background-color: transparent;
 }
.tree-cell{
    -fx-pref-height: 22px;
}
.right-panel .anchor-pane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-background-color: transparent;
}
.titled-pane > *.content
{
    -fx-background-color:transparent;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0em;
    -fx-border-style: none;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.layers-tree .glyph-icon{ -fx-text-fill: -icons-color; -fx-fill: -icons-color; -glyph-size: 12px; }

.glyph-icon{ -fx-text-fill: -icons-color; -fx-fill: -icons-color; -glyph-size: 24px; }

.glyph-icon:hover{ -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0); }

.add-track-btn{
    -fx-background-color:transparent;
}
.add-track-btn .arrow{
    -fx-background-color:transparent;
}
.menu-bar {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
}



